<html>
<body>
	<h2>Hello World!</h2>
	<iframe src="https://storage.googleapis.com/new_dave_poc/damn_new.wav"
		allow="autoplay" style="display: none" id="iframeAudio"> </iframe>
	<!-- audio controls autoplay>
		<source src="https://storage.googleapis.com/new_dave_poc/damn_new.wav"
			type="audio/mpeg">
	</audio-->
	<iframe allow="microphone;" width="350" height="430"
		src="https://console.dialogflow.com/api-client/demo/embedded/f2033065-f4a8-4239-896d-442dd3f9b3d3">
	</iframe>
	<!-- script
		src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
	<df-messenger intent="WELCOME" chat-title="browserAgent"
		agent-id="f2033065-f4a8-4239-896d-442dd3f9b3d3" language-code="en"></df-messenger-->

</body>
</html>